@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c1624;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: degular;
  src: url("./fonts/fonnts.com-DegularDemo-Bold.otf") format('opentype');
}

@font-face {
  font-family: jetsbrain;
  src: url("./fonts/JetBrainsMonoNerdFont-Regular.ttf") format('truetype');
}

@property --conic-deg {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


